header {
    .headerTitle {
        font-size: 45px;
        color: rgb(43, 20, 84);
        font-style: italic;
        font-weight: bold;
    }

    h1 {
        margin: 20px 5px 10px;
        padding: 30px 70px 10px;
        text-align: center;
    }
}
