$maincolor: #c1cd19d8;
$secondcolor: #548d8a;
$font-stack:  'Rubik', sans-serif;

body {
        margin: 0;  
    
     #root {
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        background-color: $maincolor;
        background: -webkit-linear-gradient(to right,$secondcolor, $maincolor);
        background: linear-gradient(to right,$secondcolor, $maincolor);
        font-family: $font-stack;
    }
}